.list-container {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 500px;
    width: 100%;
}

.customer-details {
    border-left: 1px solid #dddddd;

    img {
        width: 100px;
        border-radius: 50%;
        border: 1px solid #dddddd;
    }
}

.btn-delete {
    position: absolute;
    top: 20px;
    right: 20px;
}